.white {
    color: white;
}

.font-regular {
    font-family: "FS Elliot Web Regular","Arial",arial,sans-serif;
}

.font-bold {
    font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
    font-weight: bold;
}