.banner {
    height:0;
    padding-top: 37.21%;
    background-image: url('../img/banner/banner.svg');
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    align-items:flex-end;
    margin-bottom: 60px;
    h2 {
        font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px;
        color: white;
        font-size:20px;
        padding: 15px;
        @media (min-width:768px) {
            font-size:33px;
            padding: 33px;
        }
        @media (min-width:1280px) {
            font-size:45px;
            padding: 45px;
        }
    }

    &.accessibility {
        background-image: url('../img/banner/accessibility.svg');
        background-position: bottom left;
    }
    &.brand-color {
        background-image: url('../img/banner/color.svg');
    }
    &.personality {
        background-image: url('../img/banner/personality.svg');
    }
    &.iconography {
        background-image: url('../img/banner/iconography.svg');
    }
    &.imagery {
        background-image: url('../img/banner/imagery.svg');
    }
    &.illustration {
        background-image: url('../img/banner/illustration.svg');
    }
    &.personality {
        background-image: url('../img/banner/personality.svg');
    }
    &.voice-and-tone {
        background-image: url('../img/banner/voice-and-tone.svg');
    }
    &.typography {
        background-image: url('../img/banner/typography.svg');
    }
    &.logo {
        background-image: url('../img/banner/logo-banner.svg');
    }
}