.color-container {
    margin-bottom: 20px;
    .color {
        height: 80px;
    }
    .color-caption {
        padding: 15px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        p {
            line-height: 1;
        }
    }
}