.full-height {
	height: 100vh;
	// min-height: 500px;
	background-color: #0091DA;
	background-image: url('/assets/img/ds-landing-pg-bg.svg');
	background-size: contain;
	background-position: bottom center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	height: 100%;
    justify-content: center;
    text-align:center;
    @media (min-width: 960px) {
        text-align:left;
    }
	.btn {
		display: block;
        width: 100%;
        @media (min-width: 768px) {
            display: inline-block;
            width: auto;
        }
	}
}
.main-container {
	background-color: $blue;
}

.logos-container {
	margin-bottom: 60px;	
	img {
		display: block;
		margin: 15px auto;
		max-width: 100%;
	}
	&.inline {
		text-align: center;
		img {
			display: inline-block;
			margin: 15px;
		}
	}
}


.code-container {
	font-size: smaller;
}