.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: white;
    transition: all 0.3s;
    margin-left: -250px;
    padding: 20px 30px;
    z-index: 1;
    &.active {
        margin-left:0;
    }
    @media (min-width:1024px){
        margin-left:0;
    }

    .panel {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    ul {
        li {
            padding: 10px 5px;
            a {
                font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
                font-size: 16px;
                color: $black;
            }
            ul {
                li {
                    a {
                        font-family: "FS Elliot Web Regular","Arial",arial,sans-serif;
                        color: $black;
                        font-size: 14px;
                        &:hover {
                            color: $grey;
                        }
                        &.active {
                            color: $grey;
                        }
                    }
                }
            }
        }
    }
}
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    @media (min-width:1024px){
        width: calc(100% - 250px);
    }
    .container {
        max-width: 100%;
    }
}
#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 40px;
    border: 1px solid $lightBlue;
    float:right;
    span {
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: white;
        transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
        &:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }
        &:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
    }
    &.active span {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
}

.navbar.design-system-navbar {
    background-color: $lightBlue;
    margin-bottom:0;
    @media (min-width:1024px){
        display: none;
    }
}