.principal-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-top:35px;
    > [class*='col-'] {
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-position: center bottom;
    }
    #simplicity {
        background-image: url('../img/simplicity.svg');
    }
    #clarity {
        background-image: url('../img/clarity.svg');
    }
    #trust {
        background-image: url('../img/trust.svg');
    }
    #optimistic {
        background-image: url('../img/optimistic.svg');
    }
    #friendly {
        background-image: url('../img/friendly.svg');
    }
    #helpful {
        background-image: url('../img/helpful.svg');
    }
    #people {
        background-image: url('../img/people.svg');
    }
    #objects {
        background-image: url('../img/objects.svg');
    }
    #brand-assets {
        background-image: url('../img/brand-assets.png');
    }
    #imagery-people {
        background-image: url('../img/imagery-people.jpg');
    }
    #imagery-objects {
        background-image: url('../img/imagery-objects.jpg');
    }
    #imagery-assets {
        background-image: url('../img/imagery-assets.png');
    }
}

