.responsive-table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 45px;
    tr {
        border-bottom: 1px solid $grey;
        td, th {
            padding: 10px 5px;
        }
    }
    h1, h2, h3, h4, p {
        margin-top:0;
        margin-bottom:0;
    }
}