h1 {
    font-size:45px;
    font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
    font-weight: bold;
    line-height: 45px;
    @media (min-width:758px) {
        font-size: 55px;
        line-height: 72px;
    }
}
h2 {
    font-size:32px;
    font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
    font-weight: bold;
    line-height: 38px;
}
h3 {
    font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}
h4 {
    font-size:24px;
    font-family: "FS Elliot Web Regular","Arial",arial,sans-serif;
    font-weight: normal;
    line-height: 32px;
}

p {
    font-size: 16px;
    font-family: "FS Elliot Web Regular","Arial",arial,sans-serif;
    font-weight: normal;
    line-height: 24px;
}

label {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: "FS Elliot Web Regular","Arial",arial,sans-serif;
    strong {
        font-family: "FS Elliot Web Bold";
        font-weight: bold;
    }
}

a {
    font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: $lightBlue;
}

th {
    font-size: 16px;
    font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
    font-weight: bold;
    line-height: 24px;
}

td {
    font-size: 16px;
    font-family: "FS Elliot Web Regular","Arial",arial,sans-serif;
    font-weight: normal;
    line-height: 24px;
}

ul.country-list {
    margin: 0 auto;
    padding-left:0;
    list-style-position: inside;
    li {
        font-size: 14px;
        float:left;
        width: 50%;
        padding: 5px 0;
        @media (min-width:768px) {
            width: 25%;
        }
    }
    &:before, 
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear:both;
    }
}

ul.glyphicons-list {
    li {
        float: left;
        padding: 1rem 2rem 1rem 0;
        line-height: 1.4;
        list-style-type: none;
        text-align: left;
        i {
            display: block;
            font-size: 24px;
        }
        span {
            display: none;
        }
    }
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear:both;
    }
}