.white {
  color: white;
}

.font-regular {
  font-family: "FS Elliot Web Regular","Arial",arial,sans-serif;
}

.font-bold {
  font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
  font-weight: bold;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 45px;
  font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
  font-weight: bold;
  line-height: 45px;
}

@media (min-width: 758px) {
  h1 {
    font-size: 55px;
    line-height: 72px;
  }
}

h2 {
  font-size: 32px;
  font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
  font-weight: bold;
  line-height: 38px;
}

h3 {
  font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 24px;
  font-family: "FS Elliot Web Regular","Arial",arial,sans-serif;
  font-weight: normal;
  line-height: 32px;
}

p {
  font-size: 16px;
  font-family: "FS Elliot Web Regular","Arial",arial,sans-serif;
  font-weight: normal;
  line-height: 24px;
}

label {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "FS Elliot Web Regular","Arial",arial,sans-serif;
}

label strong {
  font-family: "FS Elliot Web Bold";
  font-weight: bold;
}

a {
  font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #0091DA;
}

th {
  font-size: 16px;
  font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
  font-weight: bold;
  line-height: 24px;
}

td {
  font-size: 16px;
  font-family: "FS Elliot Web Regular","Arial",arial,sans-serif;
  font-weight: normal;
  line-height: 24px;
}

ul.country-list {
  margin: 0 auto;
  padding-left: 0;
  list-style-position: inside;
}

ul.country-list li {
  font-size: 14px;
  float: left;
  width: 50%;
  padding: 5px 0;
}

@media (min-width: 768px) {
  ul.country-list li {
    width: 25%;
  }
}

ul.country-list:before, ul.country-list:after {
  content: " ";
  display: table;
}

ul.country-list:after {
  clear: both;
}

ul.glyphicons-list li {
  float: left;
  padding: 1rem 2rem 1rem 0;
  line-height: 1.4;
  list-style-type: none;
  text-align: left;
}

ul.glyphicons-list li i {
  display: block;
  font-size: 24px;
}

ul.glyphicons-list li span {
  display: none;
}

ul.glyphicons-list:before, ul.glyphicons-list:after {
  content: " ";
  display: table;
}

ul.glyphicons-list:after {
  clear: both;
}

.full-height {
  height: 100vh;
  background-color: #0091DA;
  background-image: url("/assets/img/ds-landing-pg-bg.svg");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
}

@media (min-width: 960px) {
  .full-height {
    text-align: left;
  }
}

.full-height .btn {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .full-height .btn {
    display: inline-block;
    width: auto;
  }
}

.main-container {
  background-color: #0076cf;
}

.logos-container {
  margin-bottom: 60px;
}

.logos-container img {
  display: block;
  margin: 15px auto;
  max-width: 100%;
}

.logos-container.inline {
  text-align: center;
}

.logos-container.inline img {
  display: inline-block;
  margin: 15px;
}

.code-container {
  font-size: smaller;
}

.btn {
  border-radius: 4px;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: white;
  transition: all 0.3s;
  margin-left: -250px;
  padding: 20px 30px;
  z-index: 1;
}

#sidebar.active {
  margin-left: 0;
}

@media (min-width: 1024px) {
  #sidebar {
    margin-left: 0;
  }
}

#sidebar .panel {
  box-shadow: none;
  -webkit-box-shadow: none;
}

#sidebar ul li {
  padding: 10px 5px;
}

#sidebar ul li a {
  font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
  font-size: 16px;
  color: #464646;
}

#sidebar ul li ul li a {
  font-family: "FS Elliot Web Regular","Arial",arial,sans-serif;
  color: #464646;
  font-size: 14px;
}

#sidebar ul li ul li a:hover {
  color: #9b9b9b;
}

#sidebar ul li ul li a.active {
  color: #9b9b9b;
}

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 1024px) {
  #content {
    width: calc(100% - 250px);
  }
}

#content .container {
  max-width: 100%;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 40px;
  border: 1px solid #0091DA;
  float: right;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: white;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
  -webkit-transform: rotate(45deg) translate(2px, 2px);
          transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(1px, -1px);
          transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

#sidebarCollapse.active span {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  margin: 5px auto;
}

.navbar.design-system-navbar {
  background-color: #0091DA;
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .navbar.design-system-navbar {
    display: none;
  }
}

.banner {
  height: 0;
  padding-top: 37.21%;
  background-image: url("../img/banner/banner.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  align-items: flex-end;
  margin-bottom: 60px;
}

.banner h2 {
  font-family: "FS Elliot Web Bold","Arial",arial,sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  color: white;
  font-size: 20px;
  padding: 15px;
}

@media (min-width: 768px) {
  .banner h2 {
    font-size: 33px;
    padding: 33px;
  }
}

@media (min-width: 1280px) {
  .banner h2 {
    font-size: 45px;
    padding: 45px;
  }
}

.banner.accessibility {
  background-image: url("../img/banner/accessibility.svg");
  background-position: bottom left;
}

.banner.brand-color {
  background-image: url("../img/banner/color.svg");
}

.banner.personality {
  background-image: url("../img/banner/personality.svg");
}

.banner.iconography {
  background-image: url("../img/banner/iconography.svg");
}

.banner.imagery {
  background-image: url("../img/banner/imagery.svg");
}

.banner.illustration {
  background-image: url("../img/banner/illustration.svg");
}

.banner.personality {
  background-image: url("../img/banner/personality.svg");
}

.banner.voice-and-tone {
  background-image: url("../img/banner/voice-and-tone.svg");
}

.banner.typography {
  background-image: url("../img/banner/typography.svg");
}

.banner.logo {
  background-image: url("../img/banner/logo-banner.svg");
}

.responsive-table {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 45px;
}

.responsive-table tr {
  border-bottom: 1px solid #9b9b9b;
}

.responsive-table tr td, .responsive-table tr th {
  padding: 10px 5px;
}

.responsive-table h1, .responsive-table h2, .responsive-table h3, .responsive-table h4, .responsive-table p {
  margin-top: 0;
  margin-bottom: 0;
}

.principal-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  margin-top: 35px;
}

.principal-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center bottom;
}

.principal-row #simplicity {
  background-image: url("../img/simplicity.svg");
}

.principal-row #clarity {
  background-image: url("../img/clarity.svg");
}

.principal-row #trust {
  background-image: url("../img/trust.svg");
}

.principal-row #optimistic {
  background-image: url("../img/optimistic.svg");
}

.principal-row #friendly {
  background-image: url("../img/friendly.svg");
}

.principal-row #helpful {
  background-image: url("../img/helpful.svg");
}

.principal-row #people {
  background-image: url("../img/people.svg");
}

.principal-row #objects {
  background-image: url("../img/objects.svg");
}

.principal-row #brand-assets {
  background-image: url("../img/brand-assets.png");
}

.principal-row #imagery-people {
  background-image: url("../img/imagery-people.jpg");
}

.principal-row #imagery-objects {
  background-image: url("../img/imagery-objects.jpg");
}

.principal-row #imagery-assets {
  background-image: url("../img/imagery-assets.png");
}

.color-container {
  margin-bottom: 20px;
}

.color-container .color {
  height: 80px;
}

.color-container .color-caption {
  padding: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.color-container .color-caption p {
  line-height: 1;
}
